<div *ngIf="taskList.length > 0; then tasks; else empty"></div>

<ng-template #tasks>
  <div class="absolute right-36 top-64">
    <div>
      <button class="btn btn-outline-primary my-1" (click)="clear()">
        Clear
      </button>
    </div>
  </div>
  <h3 class="my-5 text-2xl">My Current Tasks ({{ taskList.length }})</h3>
  <ul *ngFor="let task of taskList; let id = index">
    <li class="d-flex my-3 py-3 px-3">
      {{ task }}
      <button class="btn btn-outline-danger" (click)="removeTodo(id)">
        Delete
      </button>
    </li>
  </ul>
</ng-template>

<ng-template #empty>
  <h3 class="my-5 text-2xl">No task available, create one ..</h3>
</ng-template>
